@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-bg: #2b2d42;
      --logo-color: #797da5;
      --btn-bg: #6491C9;
    }
    
}
html,
body {
  color: #fff;
    background: var(--primary-bg);
    font-family: var(--font-poppins);
    scroll-behavior: smooth;
  }
  
  button {
    background: var(--btn-bg);
  }
  