@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-bg: #2b2d42;
      --logo-color: #797da5;
      --btn-bg: #6491C9;
    }
    
}
html,
body {
  color: #fff;
    background: var(--primary-bg);
    font-family: var(--font-poppins);
  }
  
  button {
    background: var(--btn-bg);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-abril);
}

p {
  font-family: var(--font-abhaya);
}